:host ::ng-deep .mat-slide-toggle-bar {
    height: 5px !important;
    width: 18px !important;
    margin-left: 13px;
    margin-top: -4px;
  }
:host ::ng-deep .mat-slide-toggle-thumb {
    height: 10px !important;
    width: 10px !important;
  }
  :host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color:  #4579bb94 !important;
  }
  :host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(69 121 187) !important;
  }
  :host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(10px, 0, 0);
}