<button mat-raised-button  matTooltip="View" style="    background: transparent;border: none;"  (click)="onView($event)"><mat-icon aria-hidden="false" aria-label="Example home icon">pageview</mat-icon></button>
<button mat-raised-button  matTooltip="Edit" style="     background: transparent;border: none;"  (click)="onEdit($event)"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button>
<button mat-raised-button *ngIf="router.url != '/ladgers'"  matTooltip="Delete" style="    background: transparent;border: none;"  (click)="onDelete($event)"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button>

