<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>login</h2>
                    <form [formGroup]="loginForm">
                        <p>
                            <label>Username or email <span>*</span></label>
                            <input type="text" parentForm="loginForm" formControlName="email">
                        </p>
                        <div *ngIf="submitted && f.email.errors">
                            <ul role="alert" *ngIf="f.email.errors.required">
                                <li class="error">* email is required</li>
                            </ul>
                        </div>
                        <p>
                            <label>Password <span>*</span></label>
                            <input type="password" parentForm="loginForm" formControlName="password">
                        </p>
                        <div *ngIf="submitted && f.password.errors">
                            <ul role="alert" *ngIf="f.password.errors.required">
                                <li class="error">* password is required</li>
                            </ul>
                        </div>
                        <div class="login_submit">
                            <a href="#">Lost your password?</a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Remember me
                            </label>
                            <button  (click)="save()" >login</button>

                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
            <!--login area start-->
        </div>
    </div>
</div>