<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-content">
        <div class="card-body">
          <!-- <ng-container *ngIf="showGrid"> -->
            <ng-container>
              <ag-grid-angular
                #agGrid
                style="width: 100%; height: 500px"
                class="ag-theme-alpine yoyo "
                pagination="true"
                [rowData]="rowData"
                >
            </ag-grid-angular>
            <!-- [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [frameworkComponents]="frameworkComponents"
            [rowMultiSelectWithClick]="true" -->
            </ng-container>
        </div>
      </div>
    </div>
  </div>
  