<div class="home3_bg_area product_five">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
               <div class="productbg_right_left">
                    <div class="deals_prodict_three">
                        <div class="deals_title">
                            <h2>Admin Dashboard</h2>
                        </div>
                        <div class="deals_prodict_inner3">
                            <ul>
                                <li><a routerLink="users">users</a></li>
                                <li><a routerLink="sellers">sellers</a></li>
                                <li><a routerLink="buyers">buyers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="productbg_right_side">
                    <div class="small_product_inner3">
                        <div class="content">
                            <app-main-container-bar></app-main-container-bar>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>