<div class="customer_login">
    <div class="container">
        <div class="row" *ngIf="!isPageLoading">
            <!--register area start-->
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>{{heading}}</h2>
                    <form [formGroup]="registerForm">
                        <p>
                            <label>First Name <span>*</span></label>
                            <input type="text" parentForm="registerForm" formControlName="firstName">
                        </p>
                        <div *ngIf="submitted && f.firstName.errors">
                            <ul role="alert" *ngIf="f.firstName.errors.required">
                                <li class="error">* first name is required</li>
                            </ul>
                        </div>
                        <p>
                            <label>Last Name <span>*</span></label>
                            <input type="text" parentForm="registerForm" formControlName="lastName">
                        </p>
                        <div *ngIf="submitted && f.lastName.errors">
                            <ul role="alert" *ngIf="f.lastName.errors.required">
                                <li class="error">* last name is required</li>
                            </ul>
                        </div>
                        <p>
                            <label>Username or email <span>*</span></label>
                            <input type="text" parentForm="registerForm" formControlName="email">
                        </p>
                        <div *ngIf="submitted && f.email.errors">
                            <ul role="alert" *ngIf="f.email.errors.required">
                                <li class="error">* email is required</li>
                            </ul>
                        </div>

                        <p>
                            <label>Role <span>*</span></label>
                            <select name="select" required class="form-control" formControlName="role">
                                <option value="">Select Role </option>
                                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                            </select>
                        </p>
                        <div class="help-block" *ngIf="submitted && f.role.errors">
                            <ul role="alert" *ngIf="f.role.errors.required">
                                <li class="error">* role is required</li>
                            </ul>
                        </div>

                        <p *ngIf="heading !== 'View User' && heading !== 'Edit User'">
                            <label>Passwords <span>*</span></label>
                            <input type="password" parentForm="registerForm" formControlName="password">
                        </p>
                        <div *ngIf="submitted && f.password.errors">
                            <ul role="alert" *ngIf="f.password.errors.required">
                                <li class="error">* password is required</li>
                            </ul>
                        </div>

                        <div class="login_submit" *ngIf="heading !== 'View User' ">
                            <button (click)="update()" *ngIf="heading !== 'Add User'">Update</button>
                            <button (click)="save()" *ngIf="heading !== 'Edit User'">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
            <!--register area end-->
        </div>
    </div>
</div>