<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>Add New Product</h2>
                    <form [formGroup]="ProductForm">
                        <p>
                            <label>Name <span>*</span></label>
                            <input type="text" parentForm="ProductForm" formControlName="name">
                        </p>
                        <div *ngIf="submitted && f.name.errors">
                            <ul role="alert" *ngIf="f.name.errors.required">
                                <li class="error">* name is required</li>
                            </ul>
                        </div>
                        <p>
                            <label>Description <span>*</span></label>
                            <input type="text" parentForm="ProductForm" formControlName="description">
                        </p>
                        <div *ngIf="submitted && f.description.errors">
                            <ul role="alert" *ngIf="f.description.errors.required">
                                <li class="error">* description is required</li>
                            </ul>
                        </div>

                        <p>
                            <label>Price <span>*</span></label>
                            <input type="text" parentForm="ProductForm" formControlName="price">
                        </p>
                        <div *ngIf="submitted && f.price.errors">
                            <ul role="alert" *ngIf="f.price.errors.required">
                                <li class="error">* price is required</li>
                            </ul>
                        </div>

                       <p>
                        <label>Image <span>*</span></label>
                        <input type='file' (change)="onSelectFile($event)" parentForm="ProductForm" formControlName="image"/>
                        <img [src]="url" *ngIf="format==='image' && url" height="200"> <br/>
                       </p>
                       <div *ngIf="submitted && f.image.errors">
                            <ul role="alert" *ngIf="f.image.errors.required">
                                <li class="error">* image is required</li>
                            </ul>
                        </div>
                           

                        <div class="login_submit">
                            <button  (click)="save()" >Submit</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
            <!--login area start-->
        </div>
    </div>
</div>

  
