<header>
    <div class="main_header">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header_social text-right">
                            <ul>
                                <li><a><i class="ion-social-twitter"></i></a></li>
                                <li><a><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a><i class="ion-social-facebook"></i></a></li>
                                <li><a><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="language_currency">
                            <ul>
                                <li class="language"><a> Admin <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a routerLink = "/register">Create new user</a></li>
                                        <li><a routerLink = "/sellerProduct">Create new Product</a></li>
                                        <li><a>Create .....</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a> Setting <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a>Change Password</a></li>
                                        <li><a>Profile</a></li>
                                        <li><a>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</header>